{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% load static %}
{% block content %}

  <h1 class="text-5xl text-center font-bold  mt-32">Casino</h1>
  {% if user.is_authenticated %}
    <p class="text-center mt-5">Welcome, {{ user.username }}!</p>

  {% endif %}
  <div class="absolute-center">
    {% if user.is_authenticated %}
    <a href="{% url 'lobby' %}" class="main-link">
      <img src="{% static 'svg/chip.svg' %}" alt="SVG Image">
      <span>
        Play
      </span>
    </a>
    <a href="{% url 'profile' %}" class="main-link">
      <img src="{% static 'svg/chip.svg' %}" alt="SVG Image">
      <span>
        Profile
      </span>
    </a>
    <a href="{% url 'leaderboard' 'chips'%}" class="main-link">
      <img src="{% static 'svg/chip.svg' %}" alt="SVG Image">
      <span>
        Leaderboard
      </span>
    </a>
    <a href="{% url 'signout' %}" class="main-link">
      <img src="{% static 'svg/chip.svg' %}" alt="SVG Image">
      <span>
        Log out
      </span>
    </a>
    {% else %}
    <a href="{% url 'signin' %}" class="main-link">
      <img src="{% static 'svg/chip.svg' %}" alt="SVG Image">
      <span>
        Sign in
      </span>
    </a>
    <a href="{% url 'signup' %}" class="main-link">
      <img src="{% static 'svg/chip.svg' %}" alt="SVG Image">
      <span>
        Sign up
      </span>
    </a>
    {% endif %}
  </div>
{% endblock %}