{% extends 'base.html' %}

{% load static %}

{% block title %} Leaderboard {% endblock %}

{% block style %}
<style>

  .leaderboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 20px;
    border-bottom: solid 2px var(--bg2);
  }

  .leaderboard:first-of-type{
    border-top: solid 2px var(--bg2);
  }

  .leaderboard span:nth-child(1){
    color:var(--accent);
  }
  .leaderboard span:nth-child(2){
    font-weight: 600;
  }

  .active{
    color:var(--accent);
    text-decoration: underline;
  }

</style>
{% endblock %}

{% block content %}
  <a href="{% url 'home' %}" class="link">Go back</a>
  <h1 class="text-3xl font-bold">Leaderboard</h1>
  <div class="flex gap-2">
    <span>Order by: </span>
    <a href="{% url 'leaderboard' 'chips' %}?list={{list}}" class="{% if order_by == 'chips' or not order_by %}active{% endif %}">Chips</a>
    <a href="{% url 'leaderboard' 'poker_wins' %}?list={{list}}" class="{% if order_by == 'poker_wins' %}active{% endif %}">Poker wins</a>
    <a href="{% url 'leaderboard' 'blackjack_wins' %}?list={{list}}" class="{% if order_by == 'blackjack_wins' %}active{% endif %}">Blackjack wins</a>
    {% if list == 'friends' %}
    <a href="{% url 'leaderboard' order_by %}" class="ml-auto">See all players</a>
    {%else%}
    <a href="{% url 'leaderboard' order_by %}?list=friends" class="ml-auto">See friends</a>
    {% endif %}
  </div>
    <div class="mt-10">
      {% for u in users %}
        <div class="leaderboard">
          <span>{{ forloop.counter }}.</span>
          <span>{{ u.username }} {% if u == user %} (you){% endif %}</span>
          <span class="flex gap-2 items-center">
          {% if order_by == 'chips'%}
            {{ u.profile.chips }} <img src="{% static 'svg/chip.svg' %}" alt="SVG Image">
          {% elif order_by == 'poker_wins' %}
            {{ u.profile.poker_wins }}
          {% elif order_by == 'blackjack_wins' %}
            {{ u.profile.blackjack_wins }}
          {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>

{% endblock %}