{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}

{% block style %}
<style>

  .box-container{
    gap: 0 !important;
    padding: 10px 20px !important;
    max-width: 450px !important;
  }

  .user-profile-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    border-bottom: solid 2px var(--bg2);
  }

  .user-profile-item span{
    font-weight: 600;
  }

  .user-profile-item:last-child{
    border-bottom: none;
  }
</style>
{% endblock %}

{% block content %}

  <a href="{% url 'home' %}" class="link">Go back</a>

  <h1 class="text-3xl font-bold">Profile</h1>
  
  <div class="box-container mt-10 max-w-lg mx-auto text-lg gap-0">
    <p class="user-profile-item">Username: <span>{{ user.username }}</span></p>
    <p class="user-profile-item">Email: <span>{{ user.email }}</span></p>
    <p class="user-profile-item">Chips: <span class="flex gap-2"> <img src="{% static 'svg/chip.svg' %}" alt="SVG Image"> {{ user.profile.chips }}</span></p>
    <p class="user-profile-item">Blackjack wins: <span>{{ user.profile.blackjack_wins }}</span></p>
    <p class="user-profile-item">Poker wins: <span>{{ user.profile.poker_wins }}</span></p>
  </div>

{% endblock %}
