{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}

{% block title %} Poker {% endblock %}

{% block style %}
<style>
  .table{
    background-color: var(--bg2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    border-radius: 250px;
    height: 300px;
    width: 500px;
  }

  .hand{
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 0;
    transform: translate(-50%, -65%);
    text-align: center;
    align-items: center;
  }

  .hand .cards{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .hand.player{
    bottom: 0;
    transform: translate(-50%, 75%);
  }

  .card{
    background-color: white;
    border-radius: 10px;
    height: 90px;
    width: 70px;
    font-weight: 900;
    display: flex;
    font-size: 27px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-fill-mode: forwards;
  }

  .card.red{
    color: var(--red);
  }

  .card.black{
    color: var(--black);
  }

  .hand.hide .card::after,
  .table-cards .card.hide::after{
    content: '';
    z-index: 99;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 7px,
      var(--bg2) 7px,
      var(--bg2) 15px
    );
    background-size: 80% 85%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hand.hide .card span{
    display: none;
  }

  input.bet-selector{
    background-color: var(--bg2);
    border: none;
    border-radius: var(--round);
    padding: 10px 20px;
    color: var(--text);
    font-weight: 700;
    width: 150px;
  }

  .player-moves .btn{
    background-color: var(--accent);
  }

  .player-moves{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .player-moves form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .table-cards{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
  }

  .table-cards .cards{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .pot{
    padding: 10px 20px;
    border-radius: var(--round);
    background-color: var(--bg3);
    color: var(--text);
    font-weight: 700;
  }

  .chips{
    font-size: 20px !important;
  }

  .chips.bot{
    font-size: 15px !important;
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: var(--bg3);
    outline: none;
    border-radius: 100px;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  input[type="range"]:hover {
    opacity: .8;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--accent);
    border-radius: 100%;
    cursor: pointer;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: var(--accent);
    cursor: pointer;
  }

  @keyframes fold_throw {
    from{
      transform: translateY(0);
    }
    to{
      transform: translateY(150%);
    }
  }

  @keyframes alt_fold_throw {
    from{
      transform: translateY(0);
    }
    to{
      transform: translateY(-150%);
    }
  }

  @keyframes fold_card {
    from{
      opacity: 1;
      transform: rotate(0);
    }
    to{
      opacity: 0;
      transform: rotate(-100deg);
    }
  }

  @keyframes alt_fold_card {
    from{
      opacity: 1;
      transform: rotate(0);
    }
    to{
      opacity: 0;
      transform: rotate(80deg);
    }
  }

  .cards.fold{
    animation: fold_throw 2s ease;
    animation-fill-mode: forwards;
  }

  .hand.player .cards.fold{
    animation: alt_fold_throw 2s ease;
    animation-fill-mode: forwards;
  }

  .cards.fold .card{
    animation: fold_card 1.7s ease;
    animation-fill-mode: forwards;
  }

  .cards.fold .card:first-child{
    animation: alt_fold_card 1.7s ease;
    animation-fill-mode: forwards;
  }

  @keyframes deal {
    from{
      transform: translateY(-50%);
      opacity: 0;
    }
    to{
      transform: translateY(0);
      opacity: 1;
    }
  }

  .cards.deal .card{
    opacity: 0;
    animation: deal 1s ease-in-out;
    animation-fill-mode: forwards;
  }

</style>
{% endblock %}

{% block content %}

<script type="text/javascript">
  const toggleRaise = () => {
    const slider = document.getElementById('raise-controls');
    const buttons = document.getElementById('player-buttons');
    const sliderValue = document.getElementById('slider-value');
    if (slider.style.display === 'none') {
      buttons.style.display = 'none';
      slider.style.display = 'block';
      sliderValue.textContent = slider.children[0].value;
    } else {
      buttons.style.display = 'block';
      slider.style.display = 'none';
    }
  }

  const updateSliderValue = (value) => {
    const slider = document.getElementById('raise-slider');
    const sliderValue = document.getElementById('slider-value');
    sliderValue.textContent = value;
  }

  document.addEventListener('DOMContentLoaded', function () {
    const listItems = document.querySelectorAll('.hand .cards.deal .card');
    listItems.forEach((item, index) => {
      item.style.animationDelay = `${index * 0.2}s`;
    });

    const preflop = document.querySelectorAll('.table-cards .cards.deal.preflop .card');
    preflop.forEach((item, index) => {
      item.style.animationDelay = `${index * 0.2}s`;
    });

    const flop = document.querySelectorAll('.table-cards .cards.deal.flop .card');
    if (flop.length){
      for (let i = 0; i < 3; i++) {
        flop[i].style.animationDelay = `${i * 0.2}s`;
      }
      for (let i = 3; i < 5; i++) {
        flop[i].style.animation = 'none';
        flop[i].style.opacity = 1;
      }
    }
    const turn = document.querySelectorAll('.table-cards .cards.deal.turn .card');
    
    if (turn.length){
      [...turn].splice(0,3).concat(turn[4]).forEach((item, index) => {
        item.style.animation = 'none';
        item.style.opacity = 1;
      })
    } 

    const river = document.querySelectorAll('.table-cards .cards.deal.river .card');
    if(river.length){
      [...river].splice(0,4).forEach((item, index) => {
        item.style.animation = 'none';
        item.style.opacity = 1;
      })
    }

  });
</script>

<a href="{% url 'home' %}" class="link">Exit to menu</a> </br>
<!-- <a href="{% url 'poker' %}">Reload</a>
<p>State: {{ state }}</p>
<p>Current bet: {{ game_bet }}</p>
<p>Deal: {{ deal }}</p> -->

<div class="table">
  <div class="relative w-full h-full">
    <div class="hand {% if state != 'end' %}hide{% endif %}">
      <div class="chips bot">
        <img src="{% static 'svg/chip.svg' %}" alt="SVG Image">
        <p>{{ bot.chips }}</p>
      </div>
      <div class="cards {% if state == 'bot_fold' %}fold{% endif %} {% if state == 'preflop' or state == 'end' %}deal{% endif %}">
        {% for card in bot.hand %}
        {{ card.display|safe }}
        {% endfor %}
      </div>
      <p class="flex gap-2"><img src="{% static 'svg/chip.svg' %}" alt="SVG Image"> {{ bot.bet }}</p>
    </div>

    <div class="table-cards" id="table-cards">
      <div class="cards {% if deal %}deal{% endif %} {{state}}">
        {% for card in cards %}
        {{ card.display|safe }}
        {% endfor %}
        {% if cards|length == 0 %}
          {% for i in '01234'|make_list %}
          <div class="card hide"></div>
          {% endfor %}
        {% elif cards|length == 3 %}
          {% for i in '12'|make_list %}
          <div class="card hide"></div>
          {% endfor %}
        {% elif cards|length == 4 %}
          <div class="card hide"></div>
        {% endif %}
      </div>
      
      <div class="pot">
        <p class="flex gap-2"><img src="{% static 'svg/chip.svg' %}" alt="SVG Image">{{ pot }}</p>
      </div>
    </div>

    <div class="hand player">
      <p>{{ player.name }}</p>
      <p class="flex gap-2"><img src="{% static 'svg/chip.svg' %}" alt="SVG Image"> {{ player.bet }}</p>
      <div class="cards {% if state == 'player_fold' %}fold{% endif %} {% if state == 'preflop' %}deal{% endif %}">
        {% for card in player.hand %}
        {{ card.display|safe }}
        {% endfor %}
      </div>
      <div class="chips">
        <img src="{% static 'svg/chip.svg' %}" alt="SVG Image">
        <p>{{ player.chips }}</p>
        <p>{{player.score}}%</p>
      </div>
      <div class="player-moves">
        <form method="post" class="gap-2">
        {% csrf_token %}
        {% if state == 'end' %}
        <p class="flex-auto">{% if winner == 'player' %}You win{% elif winner == 'bot' %}Bot wins{% else %}Draw{% endif %}</p>
        <button class="btn" type="submit" name="action" value="next_round">Next round</button>
        {% elif state == 'player_fold' %}
        <p class="flex-1">Bot wins</p>
        <button class="btn" type="submit" name="action" value="next_round">Next round</button>
        {% elif state == 'bot_fold' %}
        <p>You win</p>
        <button class="btn" type="submit" name="action" value="next_round">Next round</button>
        {% else %}
          <div class="flex flex-row gap-2" id="player-buttons">
            <!-- <input placeholder="Place your bet" class="bet-selector" type="number" id="bet_amount" name="bet_amount" min="1" max="{{ chips }}" value="{{blind}}" required> -->
            <button class="btn" type="button" onclick="toggleRaise()">Raise</button>
            {% if game_bet and game_bet|sub:player.bet != 0 %}
            <button class="btn " type="submit" name="action" value="call"><p class="inline-block whitespace-nowrap text-nowrap">Call ({{ game_bet|sub:player.bet }})</p></button>
            {% else %}
            <button class="btn" type="submit" name="action" value="check">Check</button>
            {% endif %}
            <button class="btn" type="submit" name="action" value="fold">Fold</button>
          </div>
          <div id="raise-controls" class="w-80" style="display: none;">
            <input class="my-1" type="range" name="raise" id="raise-slider" value="{{game_bet|add:blind}}" min="{{game_bet|add:blind}}" max="{% if player.chips <= bot.chips %}{{player.chips}}{% else %}{{bot.chips}}{% endif %}" step="10" oninput="updateSliderValue(this.value)">
            <p id="slider-value" class="mb-1"></p>
            <div class="flex justify-center gap-2">
              <button class="btn" type="button" onclick="toggleRaise()">Cancel</button>
              <button class="btn" type="submit" name="action" value="raise">Raise</button>
            </div>
          </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>

</div>

{% endblock %}